{% extends 'base.html' %}

{% block content %}
<a href="{% url 'media:book_add' %}">Add Book</a> | <a href="{% url 'media:index' %}">Go Back</a>
{% if book_list %}
<table class="book_list">
	<thead>
		<tr>
			<th>Description</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Date Purchased</th>
			<th>Where Purchased</th>
			<th>Purchase Prive</th>
			<th>Est. Current Value</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{% for book in book_list %}
		<tr>
			<td>{{ book.description }}</td>
			<td>{{ book.author }}</td>
			<td>{{ book.serial_number }}</td>
			<td>{% if book.purchase_date %}{{ book.purchase_date }}{% endif %}</td>
			<td>{{ book.purchase_location }}</td>
			<td>{% if book.purchase_price %}{{ book.purchase_price }}{% endif %}</td>
			<td>{% if book.current_value %}{{ book.current_value }}{% endif %}</td>
			<td>{{ book.notes }}</td>
			<td><a href="{% url 'media:book_update' book.id %}">Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>There are no books.</p>
{% endif %}

{% endblock %}