[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-phone-field = "*"

[dev-packages]
pygraphviz = "*"
coverage = "*"

[requires]
python_version = "3"
