{% extends 'base.html' %}

{% block content %}
<p>Welcome to propriete.</p>

<p><a href="/inventory/">View Inventory</a></p>
<p><a href="/media/">View Media Inventory</a></p>

<h2>Owner Information</h2>
{% if owner_info %}
<table>
	<tr>
		<th>Name</th>
		<td>{{owner_info.name}}</td>
	</tr>
	<tr>
		<th>Address</th>
		<td>{{owner_info.address|linebreaks}}</td>
	</tr>
	<tr>
		<th>Phone Number</th>
		<td>{{owner_info.phone}}</td>
	</tr>
</table>
<a href="{% url 'meta:owner_info_update' %}">Update Owner Information</a>
{% else %}
<a href="{% url 'meta:owner_info_create' %}">Set up Owner Information</a>
{% endif %}

<h2>Policy Information</h2>
{% if policy_info %}
<table>
	<tr>
		<th>Policy Number:</th>
		<td>{{policy_info.policy_number}}</td>
	</tr>
	<tr>
		<th>Agent Name:</th>
		<td>{{policy_info.agent_name}}</td>

		<th>Company Name:</th>
		<td>{{policy_info.company_name}}</td>
	</tr>
	<tr>
		<th>Agent Phone:</th>
		<td>{{policy_info.agent_phone}}</td>
		<th>Company Claims Phone:</th>
		<td>{{policy_info.company_claims_phone}}</td>
	</tr>
	<tr>
		<th>Agent Email:</th>
		<td><a href="mailto:{{policyinfo.agent_email}}">{{policy_info.agent_email}}</a></td>

		<th>Company Website:</th>
		<td><a href="{{policyinfo.company_website}}">{{policy_info.company_website}}</a></td>
	</tr>
</table>
<a href="{% url 'meta:policy_info_update' %}">Update Policy Information</a>
{% else %}
<a href="{% url 'meta:policy_info_create' %}">Set up Policy Information</a>
{% endif %}
{% endblock %}