{% extends 'base.html' %}
{% load humanize %}

{% block content %}
Viewing Location: {{location}}
{% if item_list %}
<table class="inventory_list">
	<thead>
		<tr>
			<th>Location</th>
			<th>Description</th>
			<th>Make/Model</th>
			<th>Serial/ID Number</th>
			<th>Date Purchased</th>
			<th>Where Purchased</th>
			<th>Purchase Price</th>
			<th>Est. Current Value</th>
			<th>Photo?</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{% for item in item_list %}
		<tr>
			<td>{% if item.location is not None %}{{item.location}}{% endif %}</td>
			<td>{{item.description}}</td>
			<td>{{item.make_model}}</td>
			<td>{{item.serial_number}}</td>
			<td>{% if item.purchase_date %}{{item.purchase_date}}{% endif %}</td>
			<td>{{item.purchase_location}}</td>
			<td>{% if item.purchase_price %}${{item.purchase_price|intcomma}}{% endif %}</td>
			<td>{% if item.current_value %}${{item.current_value|intcomma}}{% endif %}</td>
			<td>{{item.photo}}</td>
			<td>{{item.notes|linebreaks}}</td>
			<td><a href="{% url 'inventory:item_update' item.id %}">Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>There are no items!</p>
{% endif %}
{% endblock %}