th {
	text-align: left;
	vertical-align: top;
}

td > p {
	margin: 0;
}

table {
	border-spacing: 0;
}

.inventory_list th {
	border-bottom: 2px solid black;
}

.inventory_list td {
	border-bottom: 1px solid black;
	vertical-align: top;
}

.danger {
	color: red;
}